name: Upload Python Package to PyPI when a Release is Created

on:
  release:
    types: [created] # Triggers the workflow when a new release is published

jobs:
  pypi-publish:
    name: Publish release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi # Must match the environment name set in PyPI and GitHub Settings
      url: https://pypi.org/p/dup-file-finder
    permissions:
      id-token: write # IMPORTANT: This permission is mandatory for OIDC trusted publishing
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build # or setuptools wheel
      - name: Build package
        run: python -m build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        # No need for username/password inputs, OIDC handles authentication